[settings]
  strict = true
  verbose = true
  debug = true

  #build_dir = "build"
  #site_dir = "site"

  default_template_file = "templates/main.html"
  default_content_selector = "main"

  doctype = "<!DOCTYPE html>"

  clean_urls = true

  page_file_extensions = ["htm", "html", "md"]

  ignore_extensions = ["draft"]

  plugin_discovery = true
  plugin_dirs = ["plugins"]

[preprocessors]
  md = 'pandoc -f commonmark+smart -t html --no-highlight --lua-filter=scripts/cmark-code-blocks.lua'

[custom_options]
  site_url = "https://soupault.app"

  latest_soupault_version = "4.0.0-beta2"

[index]
  index = true

  sort_descending = true
  sort_by = "date"

  extract_after_widgets = ["insert-reading-time"]
  strip_tags = false
  dump_json = "index.json"

  section = "blog"

  date_formats = ["%F"]

# Metadata extracted from pages, using CSS selectors to find elements to extract data from
[index.fields]

[index.fields.title]
  selector = ["h1#post-title", "h1"]
  required = true

[index.fields.date]
  selector = ["time#post-date", "time"]
  extract_attribute = "datetime"
  fallback_to_content = true

[index.fields.excerpt]
  selector = ["p#post-excerpt", "p"]

[index.fields.reading_time]
  selector = "span#reading-time"

[index.views.blog]
  index_selector = "#blog-index"
  sort_by = "date"
  sort_type = "calendar"

  paginate = true
  items_per_page = 5

  page_navigation_template = """
  <hr>
  {% if prev_url %}
    <a href="{{prev_url}}">← newer</a>
  {% endif %}
  {# There may not be next page, if this is the last one #} 
  {% if next_url %}
    <a href="{{next_url}}">older →</a>
  {% endif %}
  </div>
  """
  page_navigation_selector = "#page-navigation"

  index_template = """
  {% for e in entries %}
    <h2><a href="{{e.url}}">{{e.title}}</a></h2>
    <p><strong>Last update:</strong> {{e.date}}.</p>
    <p><strong>Reading time:</strong> {{e.reading_time}}.</p>
    <p>{{e.excerpt}}</p>
    <a href="{{e.url}}">Read more</a>
  {% endfor %}
  """

[hooks.pre-parse]
  lua_source = '''
soupault_release = soupault_config["custom_options"]["latest_soupault_version"]
Log.debug("running pre-parse hook")
page_source = Regex.replace_all(page_source, "\\$SOUPAULT_RELEASE\\$", soupault_release)
'''

[widgets.page-title]
  widget = "title"
  selector = ["#title", "#post-title", "h1"]
  default = "soupault"
  append = " &mdash; soupault"

[widgets.footnotes]
  widget = "footnotes"
  selector = "div#footnotes"
  footnote_selector = ["fn", ".footnote"]
  footnote_link_class = "footnote"
  back_links = true
  link_id_prepend = "footnote-"
  back_link_id_append = "-ref"

[widgets.table-of-contents]
  exclude_page = ["reference-manual-v1.html", "reference-manual.md"]
  after = ["insert-reading-time"]

  widget = "toc"
  selector = "#generated-toc"

  min_level = 2

  toc_list_class = "toc"
  toc_class_levels = false

  numbered_list = false

  heading_links = true
  heading_link_text = "→ "
  heading_link_class = "here"

  use_heading_slug = true

[widgets.nav-menu]
  widget = "include"
  file = "templates/menu.html"
  selector = ["nav"]

[widgets.highlight-active-link]
  after = ["nav-menu", "footer"]
  widget = "section-link-highlight"
  selector = "nav"
  active_link_class = "nav-active"

[widgets.footer]
  widget = "include"
  file = "templates/footer.html"
  selector = "footer"

[widgets.remove-footnotes-from-excerpts]
  widget = "delete_element"
  selector = "a.footnote"

  page = "blog/index.html"
  after = "footnotes"

[widgets.insert-reading-time-container]
  section = "blog"
  widget = "insert_html"
  action = "insert_after"
  selector = "h1#post-title"
  html = '<div>Estimated reading time: <span id="reading-time"></span>.</div>'

[widgets.insert-reading-time]
  after = "insert-reading-time-container"
  widget = "reading-time"
  selector = "#reading-time"
  content_selector = "main"

[widgets.escape-html-in-pre]
  widget = "escape-html"
  selector = ".raw-html"

# Runs the content of <* class="language-*"> elements through a syntax highlighter
[widgets.highlight]
  after = "escape-html-in-pre"
  widget = "preprocess_element"
  selector = '*[class^="language-"]'
  command = 'highlight --force -O html -f --syntax=$(echo $ATTR_CLASS | sed -e "s/language-//")'

[widgets.quick-links]
  widget = "quick-links"

# Processes <soupault-release> elements and converts them into file/signature links
[widgets.create-download-links]
  widget = "soupault-release"

[widgets.refman-table-of-contents]
  page = ["reference-manual-v1.html", "reference-manual.md"]
  after = "insert-reading-time"

  widget = "toc"
  selector = "#generated-toc"

  valid_html = true

  toc_class_levels = true

  min_level = 2
  max_level = 4
  max_heading_link_level = 6

  toc_list_class = "refman-toc"
  
  numbered_list = false

  heading_links = true
  heading_link_text = "→ "
  heading_link_class = "here"

  use_heading_slug = true

[widgets.refman-glossary]
  page = "reference-manual.md"
  widget = "glossary"

[widgets.refman-api-lists]
  page = "reference-manual.md"
  widget = "module-api"

[widgets.refman-default-config]
  page = "reference-manual.md"
  widget = "exec"
  command = "soupault --show-default-config"
  selector = "#default-config"

[widgets.convertor-scripts]
  page = "1-to-2.html"
  widget = "insert_html"
  html = '<script src="/scripts/toml.js"></script> <script src="/scripts/1-to-2.js"></script>'
  selector = "head"
  action = "append_child"

[widgets.goat-counter]
  widget = "insert_html"
  parse = true
  html = '<script data-goatcounter="https://soupault.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>'
  selector = "body"
  action = "append_child"

[widgets.atom]
  widget = "atom"
  page = "blog/index.html"
  use_section = "blog"

  delete_elements = [".footnote", "a"]
  
  feed_file = "atom.xml"
  feed_author = "Daniil Baturin and soupault contributors"
  feed_author_email = "daniil+soupault@baturin.org"
  feed_title = "soupault"
  feed_subtitle = "A static website generator and programmable HTML processor"
  feed_logo = "https://soupault.app/images/soupault_stick_horse.png"
