<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" type="image/png" href="/images/soupault_icon.png">
    <title> </title>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="header" role="banner">
        <header class="banner">
          <img class="banner-logo" src="/images/soupault_logo.svg" alt="soupault logo" />
          <div id="banner-text">
            <h1 class="banner-title">soupault</h1>
            <span class="banner-subtitle">a static website management tool</span>
          </div>
        </header>
        <nav> </nav>
      </div>
      <main> </main>
      <div id="footnotes"> </div>
      <footer> </footer>
    </div>
  </body>
</html>
