<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" type="image/png" href="/images/soupault_icon.png">
    <title> </title>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="header">
        <header>
          <img src="/images/header.png" width="700px" alt="soupault, a static website management tool" />
        </header>
        <nav> </nav>
      </div>
      <main> </main>
      <div id="footnotes"> </div>
      <footer> </footer>
    </div>
  </body>
</html>
